
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;900&display=swap');

* {
  box-sizing: border-box;
  font-family: Raleway;
  color: rgb(66, 66, 66);
}

.main-header{
  background-color: rgb(0, 0, 0, .50);
  background-image: url("virus.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  padding-bottom: 150px;
}
body {
    font-family: helvetica;
    color: rgb(255, 251, 245);
    margin: 0;
    padding: 0;
    padding-bottom: 300px;
  }
  
  ul {
    font-family: monospace;
    
  }
  .nav ul {
    margin: 0;
  }
  .nav li {
    display: inline;
  }
  .nav a {
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
  }

  .main-nav {
    text-align: center;
    font-size: 1.1e;
    font-weight: lighter;
  }
.main-nav li {
  padding: 0 5%;
  font-size: 1.5em;
}

  .nav a:hover{
    background-color: rgb(255, 255, 255, .3);
  }

  .name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    color: white;
    padding-top: 100px;
  }
  h1 {
      text-align: center;
      font-size: 1.8em;
  }

  li{
    list-style: none;
    text-align: left;
    font-size: 1.2em;;
  }
  .inf-map {
    margin: 0 auto;
    padding: 0 20em;
  }
  p{
      font-size: 1.2em;
  }
  section {
    margin: 0 auto;
    padding: 0 20em;
  }
  input{
    font-size: 1.1em;
    padding: 30px;
  }

  #date {
    padding: 0 5%;
    margin: 1em;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    text-align: end;
    color: wheat;
  }
  
  #map {
    height: 400px;  /* The height is 400 pixels */
    width: 50%;  /* The width is the width of the web page */
    margin: 0 auto;
    padding: 0 20em;
   }
   
   