body {
    font-family: helvetica;
  }
  
  ul {
    font-family: monospace;
  }
  li {
    list-style: circle;
  }
  
  .list {
    list-style: square;
  }

  #date {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
  }

  #map {
    height: 400px;  /* The height is 400 pixels */
    width: 50%;  /* The width is the width of the web page */
   }
   